<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/upload/sidebar_navigation.css">

  <% if (typeof customCss !== 'undefined') { %>
    <link rel="stylesheet" href="<%= customCss %>">
  <% } %>
</head>
<body>
  <%- include('../partials/sidebar_admin') %>

  <main class="content">
    <%- body %>
  </main>
</body>
</html>

