<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard Mahasiswa</title>
  <link rel="stylesheet" href="/upload/dashboard_mahasiswa.css" />
</head>
<body>
  <header class="header">
    <div class="logo"></div>
    <h1 class="title">Departemen Sistem Informasi</h1>
    <nav class="nav-links">
      <a href="#">Home</a>
      <a href="#">Contact</a>
      <a href="#">Profil</a>
    </nav>
  </header>

  <main class="main-container">
    <div class="sidebar">
      <a href="pengajuan_kp">Pengajuan KP</a>
      <a href="pengajuan_seminar">Pengajuan Seminar</a>
      <a href="pengajuan_dokumen">Pengajuan Dokumen</a> 
      <a href="pelaksanaan_kp">Pelaksanaan KP</a>
      <a href="seminar_kp">Seminar KP</a>
      <a href="dowonload_template_dokumen">Dokumen & Template</a>
      <a href="riwayat_monitoring">Riwayat & Monitoring</a>
      <a href="feedback">Feedback/Saran</a>
    </div>
    

    <div class="content">
      <div class="seminar-box">
        <p><strong>Seminar Terdekat</strong></p>
        <p><em><%= seminarTerdekat.judul %></em></p>
        <p><em><%= seminarTerdekat.tanggal %></em></p>
        <p class="status">Status KP</p>
      </div>
    </div>
  </main>
</body>
</html>
