<section class="main-section">
  <h2>Dokumen & Template</h2>

  <div class="laporan-wrapper">
    <h3>Format Surat & Laporan</h3>

    <ul class="dokumen-list">
      <li class="dokumen-item">
        <span>
          <a href="/template_dokumen/pengajuan_kp.pdf" target="_blank">Formulir Pendaftaran KP</a>
        </span>
        <a href="/template_dokumen/pengajuan_kp.pdf" download class="btn-print">Download</a>
      </li>

      <li class="dokumen-item">
        <span>
          <a href="/template_dokumen/laporan_kegiatan.pdf" target="_blank">Laporan Kegiatan KP</a>
        </span>
        <a href="/template_dokumen/laporan_kegiatan.pdf" download class="btn-print">Download</a>
      </li>

      <li class="dokumen-item">
        <span>
          <a href="/template_dokumen/berita_acara_seminar.pdf" target="_blank">Berita Acara Seminar</a>
        </span>
        <a href="/template_dokumen/berita_acara_seminar.pdf" download class="btn-print">Download</a>
      </li>

      <li class="dokumen-item">
        <span>
          <a href="/template_dokumen/absensi_seminar" target="_blank">Absensi Seminar</a>
        </span>
        <a href="/template_dokumen/absensi_seminar.pdf" download class="btn-print">Download</a>
      </li>
    </ul>
  </div>
</section>
