<section class="main-section">
  <h2>Feedback</h2>
  <p>Kami sangat menghargai masukan, saran, maupun keluhan Anda untuk membantu kami terus melakukan perbaikan.</p>

  <div class="form-wrapper">
    <form action="/submit-feedback" method="POST" class="kp-form">
      <label for="feedback">Tuliskan Pendapat atau Masukan Anda di sini :</label>
      <textarea id="feedback" name="feedback" class="teksarea" required></textarea>

      <div class="form-actions">
        <button type="submit" class="submit-btn">Submit</button>
      </div>
    </form>
  </div>
</section>
