<section class="main-section">
  <h2>Pengajuan KP</h2>

  <div class="card">
    <div class="card-title">Formulir Pengajuan KP</div>
    <a href="/pengajuan_kp/formulir" class="blue-btn">Ajukan KP</a>


  </div>

  <div class="card">
    <div class="card-title">Dosen KP</div>
    <a href="/pembagian_dosen_kp" class="blue-btn">Lihat Pembagian Dosen</a>
  </div>
</section>


