<section class="main-section">
    <h2>Pengajuan KP</h2>

    <div class="card">
      <div class="card-title">Formulir Pengajuan KP</div>
      <a href="/formulir_pengajuan_kp" class="blue-btn">Ajukan KP</a>
    </div>

    <div class="card">
      <div class="card-title">Upload Dokumen Pengajuan KP</div> 
      <a href="/upload_dokumen_pengajuan_kp" class="blue-btn">Unggah Dokumen</a>
    </div>

    <div class="card">
      <div class="card-title">Status Pengajuan</div>
      <span class="status">Diproses</span>
    </div>

    <div class="card">
      <div class="card-title">Dosen KP</div>
      <a href="/pembagian_dosen" class="blue-btn">Lihat Pembagian Dosen</a>
    </div>
</section>


