<section class="main-section">
  <h2>Seminar KP</h2>

  <div class="card">
    <div class="card-title">Pendaftaran Seminar KP</div>
    <a href="/pendaftaran_seminar_kp" class="blue-btn">Daftar Seminar</a>
  </div>

  <div class="card">
    <div class="card-title">Absensi Seminar</div>
    <a href="/absensi_seminar" class="blue-btn">Upload Absensi</a>
  </div>

  <div class="card">
    <div class="card-title">Berita Acara Seminar</div>
    <a href="/berita_acara_seminar" class="blue-btn">Upload Berita Acara</a>
  </div>

  <div class="card">
    <div class="card-title">Riwayat Seminar</div>
    <a href="/riwayat_mhs_seminar_kp" class="blue-btn">Lihat Riwayat</a>
    <div>
</section>
