.main-content {
  padding: 20px;
  background-color: #ffffff;
  flex-grow: 1;
  padding-top: 0px;
  margin: 10px;
 
}


h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #d26500;
}

.all-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.toolbar select {
  padding: 6px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 20px;
}


.search-bar button {
  padding: 6px 10px;
  background-color: #d26500;
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-bar button i {
  font-size: 16px;
}


.mahasiswa-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.mahasiswa-table th,
.mahasiswa-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 20px;
}

.mahasiswa-table th {
  background-color: #d26500;
  color: white;
}

.actions {
  display: flex;
  gap: 10px;
}

.edit-btn {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  background: #d26500;
  color: white;
}
.edit-btn:hover {
  background-color: #a84300;
}
