.main-section {
  padding: 20px;
  background-color: #ffffff;
  flex-grow: 1;
  padding-top: 0px;
  margin: 10px;
 
}


h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #d26500;
    
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 25px;
}

.form-container {
  background-color: #fdebd0; 
  padding: 30px;
  border-radius: 16px;
  margin: 50px;
  border: 1px solid #f1ab6d;
}



.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #f1ab6d;
  border-radius: 6px;
  font-size: 16px;
  
}

input[type="date"]{
  padding: 10px;
  border: 1px solid #f1ab6d;
  border-radius: 6px;
  font-size: 16px;
  width: 200px;  
}
select {
  padding: 10px;
  border: 1px solid #f1ab6d;
  border-radius: 6px;
  font-size: 16px;
  width: 220px;
  
}

input[type="file"]{
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  width: 250px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

 .back-btn {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

 .back-btn:hover {
  text-decoration: underline;
}

.submit-btn {
  background-color: #467af0;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: #305dcf;
}